  <div class="masthead">
    <h2 class="muted">Logo Here</h3>        
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li class="active"><a href="http://twitter.github.com/bootstrap/examples/justified-nav.html#">Home</a></li>
            <li><a href="http://twitter.github.com/bootstrap/examples/justified-nav.html#">Projects</a></li>
            <li><a href="http://twitter.github.com/bootstrap/examples/justified-nav.html#">Services</a></li>
            <li><a href="http://twitter.github.com/bootstrap/examples/justified-nav.html#">Downloads</a></li>
            <li><a href="http://twitter.github.com/bootstrap/examples/justified-nav.html#">About</a></li>
            <li><a href="http://twitter.github.com/bootstrap/examples/justified-nav.html#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>