{% extends 'CMSAdminBundle::admin.html.twig' %}
{% block body%}
<h1>Menu list</h1>

<div style="text-align: right; margin-bottom: 10px;">
    <a href="{{ path('admin_menu_new') }}" class="btn btn-primary">Create a new entry</a>
</div>

{% endblock %}